
.main-header {
    background-image: url("Imagen1.jpeg");
    background-size: cover;
    background-position: center;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.navbar {
    background-color: #333;
    padding: 15px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #66b3ff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.social-links a:hover {
    color: #66b3ff;
}
